body {
  background: url("https://ak5.picdn.net/shutterstock/videos/3002269/thumb/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

#main {
  width: 50%;
  margin: 25px auto;
  background-color: #0d5b46;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
}

#videos {
  width: 90%;
  margin: 5px auto;
  background-color: #d3eae4;
  padding: 20px;
  color: black;
}