#main_style
{
  width: 100%;
  margin: 5px auto;
  background-color: #e8e41b;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
}

.center-custom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}